@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&display=swap');
* {
  border: 0;
  margin: 0;
  user-select: none;
  text-decoration: none;
  outline: none;
}

html{ 
  font-family: 'Anek Malayalam', sans-serif;
}

body {
  background: #f2f2f2;
}

a {
  color: white;
}
