@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&family=Fira+Code:wght@500&display=swap');
* {
  border: 0;
  margin: 0;
  /* user-select: none; */
  text-decoration: none;
  outline: none;
}

html{ 
  font-family: 'Anek Malayalam', sans-serif;
  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: 11rem;
}
::selection {
  background: rgb(37, 37, 37);
  color: #ffffff;
}

body {
  background: #f2f2f2;
}

a {
  color: white;
}

footer {
  margin-top: 4rem;
  background: rgba(26, 59, 42, 1);
  color: white;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .9);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(26, 59, 42, 1);    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  border: 3px solid rgba(26, 59, 42, 1);  /* creates padding around scroll thumb */
}
